# EDA - Mobile User Behavior
### Análisis univariado - Análisis multivariado - Análisis descriptivo - Estadística descriptiva

## Importar librerias y cargar los datos

In [1]:
# Importar librerias

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Cargar los datos

dataset = pd.read_csv("user_behavior_dataset_clean.csv")

## Vista general del dataset

Visualizar todas las columnas y algunas metricas básicas

In [10]:
dataset.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
user_id,700.0,NaN,NaN,NaN,350.5,202.21688,1.0,175.75,350.5,525.25,700.0
device_model,700,5,Xiaomi Mi 11,146,NaN,NaN,NaN,NaN,NaN,NaN,NaN
operating_system,700,2,Android,554,NaN,NaN,NaN,NaN,NaN,NaN,NaN
app_usage_time_(min/day),700.0,NaN,NaN,NaN,271.128571,177.199484,30.0,113.25,227.5,434.25,598.0
screen_on_time_(hours/day),700.0,NaN,NaN,NaN,5.272714,3.068584,1.0,2.5,4.9,7.4,12.0
battery_drain_(mah/day),700.0,NaN,NaN,NaN,1525.158571,819.136414,302.0,722.25,1502.5,2229.5,2993.0
number_of_apps_installed,700.0,NaN,NaN,NaN,50.681429,26.943324,10.0,26.0,49.0,74.0,99.0
data_usage_(mb/day),700.0,NaN,NaN,NaN,929.742857,640.451729,102.0,373.0,823.5,1341.0,2497.0
age,700.0,NaN,NaN,NaN,38.482857,12.012916,18.0,28.0,38.0,49.0,59.0
gender,700,2,Male,364,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_behavior_class,700.0,NaN,NaN,NaN,2.99,1.401476,1.0,2.0,3.0,4.0,5.0
defined_behavior,700,5,Low,146,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Análisis de la columna "device_model" - Análisis univariado - Estadística descriptiva

In [11]:
dataset["device_model"].value_counts()

device_model
Xiaomi Mi 11          146
iPhone 12             146
Google Pixel 5        142
OnePlus 9             133
Samsung Galaxy S21    133
Name: count, dtype: int64