# Analise de dados univariados

## librerias y datos

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
dataset = pd.read_csv("winemag-data-130k-v2.csv")

## Exploracion inicial

* head() >>> para ver los primeros registros
* tail() >>> para ver los ultimos registros
* shape >>> para ver el numero de filas y columnas. O la forma del dataset
* info() >>> para ver informaciones generales del dataset y sus columnas

In [4]:
dataset.head(2)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [5]:
dataset.tail(2)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
129969,129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [6]:
dataset.shape

(129971, 14)

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             129971 non-null  int64
 1   country                129908 non-null  object
 2   description            129971 non-null  object
 3   designation            92506 non-null   object
 4   points                 129971 non-null  int64
 5   price                  120975 non-null  float64
 6   province               129908 non-null  object
 7   region_1               108724 non-null  object
 8   region_2               50511 non-null   object
 9   taster_name            103727 non-null  object
 10  taster_twitter_handle  98758 non-null   object
 11  title                  129971 non-null  object
 12  variety                129970 non-null  object
 13  winery                 129971 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 13.9+ MB

## Columna "country" - pais
El EDA de datos univariados se utilizo para analizar los datos de la columna "country"

In [8]:
dataset["country"].isnull().sum()

np.int64(63)

Existen 63 valores nulos en esta columna

In [9]:
country = dataset[["country"]].dropna()

In [13]:
country["country"].unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', 'Turkey', 'Czech Republic', 'Slovenia', 'Luxembourg',
       'Croatia', 'Georgia', 'Uruguay', 'England', 'Lebanon', 'Serbia',
       'Brazil', 'Moldova', 'Morocco', 'Peru', 'India', 'Bulgaria',
       'Cyprus', 'Armenia', 'Switzerland', 'Bosnia and Herzegovina',
       'Ukraine', 'Slovakia', 'Macedonia', 'China', 'Egypt'], dtype=object)

In [14]:
conteo = country['country'].value_counts()

In [16]:
porcentaje = country['country'].value_counts(normalize=True) * 100

In [19]:
result = pd.DataFrame({
    'Frecuencia': conteo,
    'Porcentaje (%)': porcentaje.round(4)
})

In [20]:
result

                        Frecuencia  Porcentaje (%)
country
US                           54504         41.9558
France                       22093         17.0067
Italy                        19540         15.0414
Spain                         6645          5.1152
Portugal                      5691          4.3808
Chile                         4472          3.4424
Argentina                     3800          2.9251
Austria                       3345          2.5749
Australia                     2329          1.7928
Germany                       2165          1.6666
New Zealand                   1419          1.0923
South Africa                  1401          1.0785
Israel                         505          0.3887
Greece                         466          0.3587
Canada                         257          0.1978
Hungary                        146          0.1124
Bulgaria                       141          0.1085
Romania                        120          0.0924
Uruguay                        109          0.0839
Turkey                          90          0.0693
Slovenia                        87          0.0670
Georgia                         86          0.0662
England                         74          0.0570
Croatia                         73          0.0562
Mexico                          70          0.0539
Moldova                         59          0.0454
Brazil                          52          0.0400
Lebanon                         35          0.0269
Morocco                         28          0.0216
Peru                            16          0.0123
Ukraine                         14          0.0108
Macedonia                       12          0.0092
Czech Republic                  12          0.0092
Serbia                          12          0.0092
Cyprus                          11          0.0085
India                            9          0.0069
Switzerland                      7          0.0054
Luxembourg                       6          0.0046
Armenia                          2          0.0015
Bosnia and Herzegovina           2          0.0015
Slovakia                         1          0.0008
China                            1          0.0008
Egypt                            1          0.0008