# An√°lisis Exploratorio de Datos (EDA): Enfoque Univariado y Multivariado

## librerias y datos

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
dataset = pd.read_csv("winemag-data-130k-v2.csv")

## Columna "country" - pais
El EDA de datos univariados se utilizo para analizar los datos de la columna "country"

In [23]:
dataset["country"].isnull().sum()

np.int64(63)

Existen 63 valores nulos en esta columna

In [26]:
country = dataset[["country"]].dropna()

In [27]:
country["country"].unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', 'Turkey', 'Czech Republic', 'Slovenia', 'Luxembourg',
       'Croatia', 'Georgia', 'Uruguay', 'England', 'Lebanon', 'Serbia',
       'Brazil', 'Moldova', 'Morocco', 'Peru', 'India', 'Bulgaria',
       'Cyprus', 'Armenia', 'Switzerland', 'Bosnia and Herzegovina',
       'Ukraine', 'Slovakia', 'Macedonia', 'China', 'Egypt'], dtype=object)

In [14]:
conteo = country['country'].value_counts()

In [16]:
porcentaje = country['country'].value_counts(normalize=True) * 100

In [28]:
resultado = pd.DataFrame({
    'Frecuencia': conteo,
    'Porcentaje (%)': porcentaje.round(4)
})

In [29]:
resultado

                        Frecuencia  Porcentaje (%)
country
US                           54504         41.9558
France                       22093         17.0067
Italy                        19540         15.0414
Spain                         6645          5.1152
Portugal                      5691          4.3808
Chile                         4472          3.4424
Argentina                     3800          2.9251
Austria                       3345          2.5749
Australia                     2329          1.7928
Germany                       2165          1.6666
New Zealand                   1419          1.0923
South Africa                  1401          1.0785
Israel                         505          0.3887
Greece                         466          0.3587
Canada                         257          0.1978
Hungary                        146          0.1124
Bulgaria                       141          0.1085
Romania                        120          0.0924
Uruguay                        109          0.0839
Turkey                          90          0.0693
Slovenia                        87          0.0670
Georgia                         86          0.0662
England                         74          0.0570
Croatia                         73          0.0562
Mexico                          70          0.0539
Moldova                         59          0.0454
Brazil                          52          0.0400
Lebanon                         35          0.0269
Morocco                         28          0.0216
Peru                            16          0.0123
Ukraine                         14          0.0108
Macedonia                       12          0.0092
Czech Republic                  12          0.0092
Serbia                          12          0.0092
Cyprus                          11          0.0085
India                            9          0.0069
Switzerland                      7          0.0054
Luxembourg                       6          0.0046
Armenia                          2          0.0015
Bosnia and Herzegovina           2          0.0015
Slovakia                         1          0.0008
China                            1          0.0008
Egypt                            1          0.0008