# Análisis Exploratorio de Datos (EDA): Enfoque Univariado y Multivariado

## librerias y datos

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
dataset = pd.read_csv("wine_dataset_clean.csv")

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111439 entries, 0 to 111438
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   country   111439 non-null  object
 1   province  111439 non-null  object
 2   points    111439 non-null  int64
 3   price     111439 non-null  float64
 4   variety   111439 non-null  object
 5   title     111439 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 5.1+ MB

## Análisis Univariado

### Columna "country" - pais
El EDA de datos univariados se utilizo para analizar los datos de la columna "country"

In [4]:
dataset["country"].unique()

array(['Portugal', 'US', 'Spain', 'Italy', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', 'Turkey', 'Czech Republic', 'Slovenia', 'Luxembourg',
       'Croatia', 'Georgia', 'Uruguay', 'England', 'Lebanon', 'Serbia',
       'Brazil', 'Moldova', 'Morocco', 'Peru', 'India', 'Bulgaria',
       'Cyprus', 'Armenia', 'Switzerland', 'Bosnia and Herzegovina',
       'Ukraine', 'Slovakia', 'Macedonia', 'China'], dtype=object)

#### Frecuencia absoluta

In [8]:
dataset["country"].value_counts().rename_axis("country").reset_index(name="count")

                   country  count
0                       US  50215
1                   France  16254
2                    Italy  15487
3                    Spain   6032
4                 Portugal   4501
5                    Chile   4129
6                Argentina   3501
7                  Austria   2535
8                Australia   2166
9                  Germany   1951
10             New Zealand   1240
11            South Africa   1195
12                  Israel    453
13                  Greece    427
14                  Canada    224
15                Bulgaria    132
16                 Hungary    128
17                 Romania    101
18                 Uruguay     98
19                  Turkey     80
20                 Georgia     74
21                Slovenia     70
22                 Croatia     68
23                  Mexico     68
24                 England     59
25                 Moldova     56
26                  Brazil     44
27                 Lebanon     32
28                 Morocco     24
29                    Peru     16
30                 Ukraine     14
31          Czech Republic     11
32               Macedonia     11
33                  Cyprus     10
34                   India      8
35                  Serbia      8
36             Switzerland      6
37              Luxembourg      5
38  Bosnia and Herzegovina      2
39                 Armenia      2
40                Slovakia      1
41                   China      1

#### Frecuencia relativa

In [14]:
# Paso 1
freq_relativa = dataset['country'].value_counts(normalize=True)

# Paso 2
porcentajes = freq_relativa * 100

# Paso 3
porcentajes_df = porcentajes.rename_axis('Country').reset_index(name="porcentaje")

# Paso 4
porcentajes_df['porcentaje'] = porcentajes_df['porcentaje'].round(3)

porcentajes_df

                   Country  porcentaje
0                       US      45.061
1                   France      14.586
2                    Italy      13.897
3                    Spain       5.413
4                 Portugal       4.039
5                    Chile       3.705
6                Argentina       3.142
7                  Austria       2.275
8                Australia       1.944
9                  Germany       1.751
10             New Zealand       1.113
11            South Africa       1.072
12                  Israel       0.407
13                  Greece       0.383
14                  Canada       0.201
15                Bulgaria       0.118
16                 Hungary       0.115
17                 Romania       0.091
18                 Uruguay       0.088
19                  Turkey       0.072
20                 Georgia       0.066
21                Slovenia       0.063
22                 Croatia       0.061
23                  Mexico       0.061
24                 England       0.053
25                 Moldova       0.050
26                  Brazil       0.039
27                 Lebanon       0.029
28                 Morocco       0.022
29                    Peru       0.014
30                 Ukraine       0.013
31          Czech Republic       0.010
32               Macedonia       0.010
33                  Cyprus       0.009
34                   India       0.007
35                  Serbia       0.007
36             Switzerland       0.005
37              Luxembourg       0.004
38  Bosnia and Herzegovina       0.002
39                 Armenia       0.002
40                Slovakia       0.001
41                   China       0.001

### Columna "province" - Provincia

### Columna "Points" - Puntos

### Columna "Price" - Precio

### Columna "Variety" - Variedad

### Columna "title" - titulo