# Limpieza y preparación de los datos
&emsp;&emsp;_Limpeza e preparação de dados com pandas_

## Importar la libreria y cargar los datos
&emsp;&emsp;_Importar a biblioteca e carregar os dados_

In [1]:
# Importar la libreria - Importar biblioteca

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

* Este dataset es sobre calificaciones, precios, países y calificaciones de diferentes vinos en el mundo.
* _Este conjunto de dados é sobre pontuações, preços, países e avaliações de diferentes vinhos ao redor do mundo._

In [2]:
# Cargar el archivo csv como un dataframe en pandas
# Carregar o arquivo CSV como um dataframe no pandas.

original_dataset = pd.read_csv("./winemag-data-130k-v2_original.csv")

## Información sobre el dataset
&emsp;&emsp;_Informações sobre o dataset_

In [3]:
original_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             129971 non-null  int64
 1   country                129908 non-null  object
 2   description            129971 non-null  object
 3   designation            92506 non-null   object
 4   points                 129971 non-null  int64
 5   price                  120975 non-null  float64
 6   province               129908 non-null  object
 7   region_1               108724 non-null  object
 8   region_2               50511 non-null   object
 9   taster_name            103727 non-null  object
 10  taster_twitter_handle  98758 non-null   object
 11  title                  129971 non-null  object
 12  variety                129970 non-null  object
 13  winery                 129971 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 13.9+ MB

In [4]:
original_dataset.head(3)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

## Extraer variables de interés

&emsp;&emsp;_Extrair variáveis de interésse_

In [59]:
dataset_objetivo = original_dataset.copy()

In [60]:
dataset_objetivo = dataset_objetivo[["country", "province", "points", "price", "variety", "title"]]

## Trabajando con valores nulos

Primero, buscamos en el dataset para saber si existen valores nulos, y cuantos valores nulos hay en cada columna.

&emsp;&emsp;_Trabalhando com valores nulos_

Primeiro, verificamos no dataset se existem valores nulos e quantos valores nulos há em cada coluna.

In [61]:
# Isnull() devuelve una tabla con valores de verdadero o falso.
# .sum() usando esta función después de .isnull() devuelve la suma de los valores faltantes en cada columna. (Nuestro objetivo)

# isnull() retorna uma tabela com valores verdadeiro ou falso.
# .sum() usado após isnull() retorna a soma dos valores faltantes em cada coluna. (Nosso objetivo)

dataset_objetivo.isnull().sum()

country       63
province      63
points         0
price       8996
variety        1
title          0
dtype: int64

In [62]:
dataset_objetivo.dropna(inplace=True)

In [63]:
dataset_objetivo.isnull().sum()

country     0
province    0
points      0
price       0
variety     0
title       0
dtype: int64

In [64]:
dataset_objetivo.shape

(120915, 6)

In [65]:
dataset_objetivo.head(10)

,country,province,points,price,variety,title
1,Portugal,Douro,87,15.0,Portuguese Red,Quinta dos Avidagos 2011 Avidagos Red (Douro)
2,US,Oregon,87,14.0,Pinot Gris,Rainstorm 2013 Pinot Gris (Willamette Valley)
3,US,Michigan,87,13.0,Riesling,St. Julian 2013 Reserve Late Harvest Riesling ...
4,US,Oregon,87,65.0,Pinot Noir,Sweet Cheeks 2012 Vintner's Reserve Wild Child...
5,Spain,Northern Spain,87,15.0,Tempranillo-Merlot,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...
6,Italy,Sicily & Sardinia,87,16.0,Frappato,Terre di Giurfo 2013 Belsito Frappato (Vittoria)
7,France,Alsace,87,24.0,Gewürztraminer,Trimbach 2012 Gewurztraminer (Alsace)
8,Germany,Rheinhessen,87,12.0,Gewürztraminer,Heinz Eifel 2013 Shine Gewürztraminer (Rheinhe...
9,France,Alsace,87,27.0,Pinot Gris,Jean-Baptiste Adam 2012 Les Natures Pinot Gris...
10,US,California,87,19.0,Cabernet Sauvignon,Kirkland Signature 2011 Mountain Cuvée Caberne...

## Trabajando con valores duplicados

Para identificar valores duplicados, utilizamos el comando: .duplicate(), junto con el comando .sum(); estos devuelven la suma de las lineas duplicadas en el dataset.

&emsp;&emsp;_Trabalhando com valorese duplicados_

Para identificar valures duplicados, utilizamos o comando: .duplicate(), junto com o comando .sum(); esses comandos retornam a soma das linhas duplicadas no dataset.

In [66]:
dataset_objetivo.duplicated().sum()

np.int64(9476)

In [67]:
dataset_objetivo = dataset_objetivo.drop_duplicates()

In [69]:
dataset_objetivo.duplicated().sum()

np.int64(0)

In [70]:
dataset_objetivo.shape

(111439, 6)

In [71]:
dataset_objetivo.head(10)

,country,province,points,price,variety,title
1,Portugal,Douro,87,15.0,Portuguese Red,Quinta dos Avidagos 2011 Avidagos Red (Douro)
2,US,Oregon,87,14.0,Pinot Gris,Rainstorm 2013 Pinot Gris (Willamette Valley)
3,US,Michigan,87,13.0,Riesling,St. Julian 2013 Reserve Late Harvest Riesling ...
4,US,Oregon,87,65.0,Pinot Noir,Sweet Cheeks 2012 Vintner's Reserve Wild Child...
5,Spain,Northern Spain,87,15.0,Tempranillo-Merlot,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...
6,Italy,Sicily & Sardinia,87,16.0,Frappato,Terre di Giurfo 2013 Belsito Frappato (Vittoria)
7,France,Alsace,87,24.0,Gewürztraminer,Trimbach 2012 Gewurztraminer (Alsace)
8,Germany,Rheinhessen,87,12.0,Gewürztraminer,Heinz Eifel 2013 Shine Gewürztraminer (Rheinhe...
9,France,Alsace,87,27.0,Pinot Gris,Jean-Baptiste Adam 2012 Les Natures Pinot Gris...
10,US,California,87,19.0,Cabernet Sauvignon,Kirkland Signature 2011 Mountain Cuvée Caberne...

## Exportar dataset final

In [74]:
dataset_objetivo.to_csv("wine_dataset_clean.csv", index=False)