In [1]:
import pandas as pd

In [2]:
dt = pd.read_csv("./002_wine_products/winemag-data-130k-v2.csv")

In [3]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             129971 non-null  int64
 1   country                129908 non-null  object
 2   description            129971 non-null  object
 3   designation            92506 non-null   object
 4   points                 129971 non-null  int64
 5   price                  120975 non-null  float64
 6   province               129908 non-null  object
 7   region_1               108724 non-null  object
 8   region_2               50511 non-null   object
 9   taster_name            103727 non-null  object
 10  taster_twitter_handle  98758 non-null   object
 11  title                  129971 non-null  object
 12  variety                129970 non-null  object
 13  winery                 129971 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 13.9+ MB

In [4]:
dt.isnull().sum()

Unnamed: 0                   0
country                     63
description                  0
designation              37465
points                       0
price                     8996
province                    63
region_1                 21247
region_2                 79460
taster_name              26244
taster_twitter_handle    31213
title                        0
variety                      1
winery                       0
dtype: int64

In [6]:
dt = dt.dropna()

In [7]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22387 entries, 4 to 129950
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             22387 non-null  int64
 1   country                22387 non-null  object
 2   description            22387 non-null  object
 3   designation            22387 non-null  object
 4   points                 22387 non-null  int64
 5   price                  22387 non-null  float64
 6   province               22387 non-null  object
 7   region_1               22387 non-null  object
 8   region_2               22387 non-null  object
 9   taster_name            22387 non-null  object
 10  taster_twitter_handle  22387 non-null  object
 11  title                  22387 non-null  object
 12  variety                22387 non-null  object
 13  winery                 22387 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 2.6+ MB